svg:not(:root).svg-inline--fa {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
